<html>
<head>
    <style>
        body { font-family: arial; margin: 20px; }
        td { padding: 5px; }
        .bullish { background: green; color: white; }
        .bearish { background: red; color: white; }
    </style>
</head>
<body>
    <h1>Technical Scanner</h1>
  

    <table>
        <tr>
            <td>Stock</td>
            <td>Consolidated Price</td>
            <td>Current Price</td>
            <td>Percent Change</td>
            <td>Status</td>
        </tr>

        {% for key, value in breakouts.items() %}
        <tr>
            <td>{{key}} </td>
            <td>{{value['ConsolidatedPrice']}} </td>
            <td>{{value['CurrentPrice']}} </td>
            <td>{{value['PercentChange']}} </td>
            <td>{{value['Status']}} </td>
       
        </tr>
        {% endfor %}

    </table>
</body>
</html>

