<html>
<head>
    <style>
        body { font-family: arial; margin: 20px; }
        td { padding: 5px; }
        .bullish { background: green; color: white; }
        .bearish { background: red; color: white; }
    </style>
</head>
<body>
    <h1>Technical Scanner</h1>
  

    <table>
        {% for stock in stocks %}

            <tr>
                <td colspan="3">
                    <img src="https://finviz.com/chart.ashx?t={{stock}}&ty=c&ta=1&p=d&s=l" />
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>